* {
    margin: 0;
    padding: 0;
    font-family: calibri;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 27);
}
/*Högst upp på sidan har jag lagt en header-nav med länkar, jag har gjort så att man kan klicka på tex Register så kommer man direkt till användar-registrering, 
använt :hover på länkarna för style*/
header {
    background-color: rgb(27, 27, 27);
    height: 80px;
    width: 100%;
    display: flex;
    top: 0;
}
header nav {
    margin: 15px 35px;
}
header nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;
}
header nav a:hover {
    opacity: 0.2;
}
/*en home-ikon för snyggare style*/
#home {
    font-size: 35px;
    margin: 0;
    padding: 0;
}
/*log-in fält till höger av navbaren*/
.login-container {
    margin-left: 500px;
    margin-top: 20px;
}
.login-container input[type=text] {
    font-size: 17px;
    border: none;
    padding: 5px 5px;
}
.login-container button {
    padding: 5px;
    font-size: 17px;
    width: 100px;
    background-color: rgb(171, 48, 48);
    border: none;
    cursor: pointer;
}

/*Här har jag stylat header-sektionen med en bakgrundsbild och en animation*/
.header {
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2Fwc1691952.jpg&f=1&nofb=1&ipt=f24cfd255dc8b05188bd2f3a3baddea16f787c003ab4d8eea5fcc3a23ea5830c&ipo=images) center/cover no-repeat fixed;
    background-size: cover; 
}
.header p {
    font-size: 75px;
    font-family: 'Vast Shadow';
    color: rgb(255, 255, 255);
    padding-top: 500px;
}
/*en animation som gör att header-rubriken rör på sig lite*/
#animation {
    animation: 3s forwards alternate animate;
}
@keyframes animate {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: 7%;
    }
}

/*container för main innehållet på sidan har jag gjort med grids*/
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto;
    background-color: rgb(231, 231, 231);
    margin-left: 80px;
    margin-right: 80px;
}
/*style på fotbollslag-bilderna*/
.images img  {
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 20px #5f1e05;
}
/*style på rubrikerna*/
.container h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*style och :hover på knapp-länken till att köpa biljetter*/
.btn {
    border: 2px;
    color: rgb(0, 0, 0);
    background-color: #cacaca;
    padding: 16px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 100px;
  }
.btn:hover {
    background-color: rgb(171, 48, 48);
}

/*style på nästa sektion med rubrik*/
h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 20px;
}
h4 {
    margin-left: 30px;
    margin-bottom: 20px;
    font-style: italic;
    color:rgb(171, 48, 48);
}
h4 #login {
    text-decoration: none;
    color:rgb(171, 48, 48);
}
h4 #login:hover {
    color: rgb(0, 0, 0);
}
/*3 olika sektioner som jag placerat med grids*/
.ticket-boxes {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: grid;
    gap: 100px;
    grid-template-columns: 400px 400px 400px;
}
.tickets {
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-left: 20px;
}
/*varje sektion är en bild med en länk i för att klicka vidare till biljett-köp*/
.tickets img {
    width: 100%;
    height: 300px;
    opacity: 0.9;
}
.tickets .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 22px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
}
/*:hover effekt även här för snygg styling*/
.tickets .btn:hover {
    background-color: black;
    scale: 1.1;
}

/*nästa sektion är en main-info där jag placerat ut 2 olika columner med grids*/
.main-info {
    display: grid;
    gap: 50px;
    grid-template-rows: 520px;
    grid-template-columns: auto 450px;
    margin-left: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*en intervju med en fotbollsspelare, style på rubrik, ""-tecken och länk för att användaren ska bli nyfiken*/
.interview {
    background-color: #d8d8d8;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 70px;
}
.interview p {
    position: relative;
    padding-left: 120px;
    font-size: 16;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*la till stora ""- tecken i en snygg style som jag tyckte passade in i en intervju*/
.interview p::before {
    content: "\201c";
    font-size: 120px;
    left: 70px;
    font-family: georgia;
    position: absolute;
    top: -50px;
    opacity: 0.5;
}
.interview p::after {
    content: "\201d";
    bottom: -110px;
    font-size: 120px;
    font-family: georgia;
    position: absolute;
    opacity: 0.5;
}
/*länk för att få användaren att klicka vidare och läsa mer*/
.interview h3 a {
    color:rgb(171, 48, 48);
    font-size: 25px;
    text-decoration: none;
    padding-left: 20px;
}
.interview h3 a:hover {
    color: black;
}

/*den andra columnen i main-info är en nyhets-box*/
.news {
    background-color: #d8d8d8;
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
}
/*styling på rubriken för att fånga användaren*/
.news h2 {
    background-color: rgb(163, 57, 57);
    color: white;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
}
/*länkar till de olika nyhetslänkarna*/
.news a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: right;
}
/*länk med :hover för användaren att läsa fler nyhetsuppdateringar*/
.news h3 a {
    color:rgb(171, 48, 48);
    font-size: 25px;
}
.news a:hover {
    color: rgb(136, 38, 38);
}
.news h3 a:hover {
    color: black;
}  

/*nästa sektion är 6 bild-boxar som jag placerat med grids*/
.top-players {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    display: grid;
    gap: 5px;
    grid-template-rows: 330px;
    grid-template-columns: 300px 300px 300px;
    margin-bottom: 100px;
}
.players {
    width: 250px;
    position: relative;
}
/*bild på fotbollsspelaren*/
.image {
    opacity: 1;
    display: block;
    width: 290px;
    height: 320px;
    transition: .5s ease;
    backface-visibility: hidden;
}
/*en class som innehåller informationen man ser när man håller pekaren över bilden*/
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.players:hover .image {
    opacity: 0.3;
}
.players:hover .middle {
    opacity: 1;
}
/*när man håller pekaren över bilden så kommer en tabell fram*/
.text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
}
table {
    border-spacing: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
}
th, td {
    border: 1px solid #000000;
    width: 20px;
}

/*sektion med webbshop*/
.webbshop {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 250px 250px 250px 250px 250px;
}
.shop {
    position: relative;
    background-color: #ffffff;
    width: 250px;
    height: 350px;
    margin-left: 20px;
}
/*text med klick-länk till webbshoppen*/
h2 a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(171, 48, 48);
}
/*hover över länken för snygg style*/
h2 a:hover {
    color: rgb(0, 0, 0);
}
/*varje sektion är en bild med en länk i för att klicka vidare till webbshoppen*/
.shop img {
    height: 200px;
    width: 185px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 30px;
    opacity: 0.9;
}
/*hover som gör att bilderna blir lite större när man håller över dom*/
.shop img:hover {
    scale: 1.2;
    transition: 0.5s;
    cursor: pointer;
}
/*text som förklarar vad bilden visar*/
.shop p {
    margin-left: 50px;
    font-style: italic;
}
/*klick-knapp till webbsidan*/
.shop .btn {
    position: absolute;
    width: 150px;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
    margin-top: 10px;
}
/*:hover effekt även här för snygg styling*/
.shop .btn:hover {
    background-color: rgb(171, 48, 48);
}

/*användar-registrering*/
.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: rgb(222, 222, 222);
    padding: 5px;
}
.button-box {
    width: 220px;
    height: 120px;
    margin: 25px auto;
    padding-top: 15px;
    box-shadow: 0 0 20px #b233019e;
    border-radius: 30px;
}
.member-btn {
    padding: 10px 30px;
    font-size: 25px;
    background: transparent;
    border: 0;
}
.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    margin: 30px 50px;
    background-color: rgb(188, 67, 67);
    border: 0;
    border-radius: 30px;
}
.submit-btn:hover {
    opacity: 0.4;
}

/*footer längst ner på sidan med användar-registrering och social-media länkar*/
.footer {
    background-color: rgb(27, 27, 27);
    color: white;
    display: grid;
    grid-template-columns: auto;
    height: 550px;
}
/*lite information om laget*/
.about-us p {
    margin-top: 90px;
    font-style: italic;
    margin-bottom: 80px;
}
/*social-media*/
.fa {
    padding: 20px;
    margin-left: 20px;
    font-size: 60px;
    width: 60px;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.2;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color:white;
}
/*en länk till email för frågor*/
.social-media p {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 30px;
    font-size: 16px;
}
.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.social-media a:hover {
    opacity: 0.4;
}